body
	background #8080FF
	background-image url('imagenes/yei.jpg')
	border 2px
.im1
	figure
		img
			width 200px
			height 300px

			-webkit-transform rotate(50deg)
			-webkit-transform-origin right bottom


.im2
	figure
		img
			display inline-block
			width 200px
			height 300px
			-webkit-transform translate(200px,50px)

.im3
	figure
		img
			display inline-block
			width 100px
			height 150px
			-webkit-transform scale(8)
			-webkit-transform-origin right bottom




.im4
	figure
		img
			display inline-block
			width 100px
			height 150px
			-webkit-transform skew(150deg,50deg)

